<footer class="footer-styles">
    <section class="footer-menu">
        <article class="right-menu-container">
            <ul class="lists-style">
                <li> <a class="footer-links"  href="/">Inicio</a></li>
                <li> <a class="footer-links"  href="#">Contacto</a></li>
                <li> <a class="footer-links"  href="#">Sobre Nosotros</a> </li>
            </ul>
        </article>
        <article class="right-menu-container">
            <ul class="lists-style">
                <li> <a class="footer-links"  href="/users/login">Iniciar sesión</a></li>
                <li><a class="footer-links"  href="/users/register">Registrarme</a></li>
                <li> <a class="footer-links"  href="/">Preguntas frecuentes</a></li>
            </ul>
            
        </article>

    </section>
    <section class="social-media-links-container">
        <div class="single-icon-container">
            <a href="" class="footer-links" > 
                <i class="fa-brands fa-facebook-f icons"></i>
            </a>
        </div>
        <div class="single-icon-container">
            <a href="" class="footer-links" > 
                <i class="fa-brands fa-instagram icons"></i>
            </a>
        </div>
        <div class="single-icon-container">
            <a class="footer-links" href="">
                <i class="fa-brands fa-twitter icons"></i>
            </a>
        </div>
    </section>
    <section class="footer-texts">
        <article>
            <p class="website-rigths-text">Todos los derechos reservados | artplace® </p>
        </article>
    </section>
</footer>