colores{
    color: #29C6C1;
    color: #FE1F62;
    color: #F2D66A;
    color: #6902DF;
    color: #46CA48;
}

body{
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    width:100vw;
    background-image: url('../images/general-bg.webp');
    
}
main a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    
}
main{
    margin: 10% 0;
}
h2{
    font-size: 35px;
    font-weight: 300;
}
.sec{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.hi-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F2D66A;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.big-container{
    width: 80%;
}

.imgNameEmailContainer img{
    width: 30%;
    aspect-ratio: 1 ;
    border-radius:50%;
    height: 40% ;
    
}
.nombreEmail{
    display: flex;
    margin-left: 3%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
    justify-content: space-around;
}
.nombreEmail form{
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.nombreEmail form input{

margin-bottom: 20%;
border-radius: 5px;
padding: 10px;
    border: 1px solid #FE1F62 ;

}
.nombreEmail p{
    margin: 5% 0;
    margin-bottom: 10%;
}
.imgNameEmailContainer{
    display: flex;
    margin: 4% 7% ;
    justify-content: space-around;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonContainer button{

    background-color: #FE1F62;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 13px 20px 10px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    transition-duration: 0.5s;
}

.buttonContainer button:hover{
    box-shadow: 0px 0px 6px 3px black;
    font-weight: 500;
}

