colores{
    color: #29C6C1;
    color: #FE1F62;
    color: #F2D66A;
    color: #6902DF;
    color: #46CA48;
}

body{
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    height: 100vw;
    width:100vw;
    background-image: url('../images/general-bg.webp');
}
main a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}
main{
    margin-bottom: 10%;
}

.product-info{
    width: 100%;
}

.product-title{
    margin-top:60px ;
    font-weight: 300;
    font-size: 20px;
    background-color: #F2D66A;
    display: inline-block;
    padding: 8px 8px 5px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
}
.product-title-container{
    margin: 20px;
}
.link-icons{
    margin: 10px 0px;
    display: flex;
    justify-content: right;
}
.linkedicons{
    margin: 2px 3px 2px 3px;
}

.barrier{
    background:linear-gradient(to top, #ededed 5%, #bab1ba 100%);
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    margin-bottom: 30px;
    margin-top: 30px;
    height: 10px;
}
.left-product-section{
    border-right: solid 2px black;
    display:flex;
    width: 20%;
}
.product-miniature{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.miniature-numbers{
    margin: auto;
}
.main-product-container{
    display: flex;
    width: 90%;
    margin: auto;
}

.minature-image{
    width: 100%;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
}
.middle-product-section{
    border-right: black solid 2px;
    width: 60%;
    display: flex;
    justify-content: center;
}
.product-image{
    width: 70%;
    margin: auto;
}
.right-product-section{
    display: flex;
    width: 30%;
    margin-left: 10px;
}
.seller-creator{

    color: white;
    background-color: #29C6C1;
    display: inline-block;
    padding: 8px 8px 5px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
}
.seller-creator-titles{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.seller-creator-image{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
}

.creator-seller-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.creator-seller-names{
    font-size: 15px;
    margin: 5px 0px 5px;
}

.seller-creator-photo-name{
    display:flex;
    justify-content: space-between;
}
.product-description{
    margin: 10px 0px 0px 0px;
    border-bottom: 2px solid black;
}
.propularity-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.star{
    color: #F2D66A;
}
.description-titles{
    margin: 8px 0px;
}
.usd{
    margin: 8px;
    font-size: 20px;
}
.price-text{
    margin: 8px;
    font-size: 20px;
    color: #46ca48;
}
.product-detail-price-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.button-container{
    display: flex;
    justify-content:center;
    margin-top:10px;
}

.buy-button, .edition-button, .delete-button{
    background-color: #FE1F62;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 13px 20px 10px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    transition-duration: 0.5s;
}
.buy-button:hover{
    box-shadow: 0px 0px 6px 3px black;
    font-weight: 500;
}

.mini-stars{
    margin: 10px 0px 0px 0px;
    font-size: 0.7em;
    color: #F2D66A;
}

.recomended-product-titles{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    background-color: #FE1F62;
    display: inline-block ;
    padding: 8px 8px 5px 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    width: fit-content;
}

.little-product{
    width: 30%;
}

.recomended-product-img{
    width: 100%;
    transition-duration: 0.5s;
}
.img-box-overflow{
    transition-duration: 0.5s;
    display:flex;
    overflow: hidden;
    width: 65%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
}
.miniature-img-box-overflow{
    transition-duration: 0.5s;
    display:flex;
    overflow: hidden;
    width: 85%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    margin: 5% 0 ;
}
.miniature-img-box-overflow:hover{
    box-shadow: 0px 0px 6px 2px rgb(182, 182, 182);
}
.miniature-img-box-overflow:hover .minature-image{
    width: 110%;
}
.recomended-image-title-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.recomended-products{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}
.recomended-price-usd{
    margin: 5px 0px;
    display: inline-block;
    padding-right: 6px;
    transition-duration: 0.5s;
    color: black;
}

.recomended-product-img:hover{
    width: 110%;
}
.img-box-overflow:hover{
    box-shadow: 0px 0px 7px 3px black;
}

.recomended-products-container{
    margin-left: 20px;
}

.editar-eliminar{
    display: flex;
    flex-direction: column;
}
.productId{
    opacity: 0;
}

@media (max-width: 760px){
    .main-product-container{
        flex-direction: column;
    }
    .product-miniature{
        flex-direction: row;
        width: 70%;
    }
    .left-product-section{
        width:100%;
        justify-content: center;
        border: none;
        margin: 2% 0;
    }
    .miniature-img-box-overflow{
        width: 20%;
    }
    .product-miniature p{
        display: none;
    }
    .middle-product-section{
        width: 100%;
        border: none;
    }
    .right-product-section{
        width: 90%;
        border: none;
    }
    .seller-creator-titles {
        justify-content: space-evenly;
    }
    .seller-creator-photo-name{
        justify-content: space-evenly;
    }
    .product-info h3{
        margin: 0 0 5% 0;
    }
}

.main-product-container{
    max-width: 1200px;
}
