colores{
    color: #29C6C1;
    color: #FE1F62;
    color: #F2D66A;
    color: #6902DF;
    color: #46CA48;
}

body{
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    width:100vw;
    background-image: url('../images/general-bg.webp');
    
}
main a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
    
}
.sec{
    margin-top: 90px;
}
h2{
    font-size: 35px;
    font-weight: 300;
}
.logout-p{
    color: #FE1F62;
    display: flex;
    justify-content: center;
}
.fa-arrow-right-from-bracket{
    margin-left: 5px;
}
.sec{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.hi-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F2D66A;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}
.big-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgNameEmailContainer img{
    width: 140px;
    aspect-ratio: 1 ;
    border-radius:50%;
    height: 30% ;
    
}
.nombreEmail{
    display: flex;
    margin-left: 3%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}
.nombreEmail p{
    margin: 5% 0;
    margin-bottom: 10%;
}
.imgNameEmailContainer{
    display: flex;
    margin: 4% 7% ;
}

.buttonContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nombreEmail h2{
text-align: center;
}

.buttonContainer button{

    background-color: #FE1F62;
    color: white;
    border: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 13px 20px 10px 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.92);
    transition-duration: 0.5s;
}

@media (max-width: 480px){
.buttonContainer button:hover{
    box-shadow: 0px 0px 6px 3px black;
    font-weight: 500;
}
.hi-container{
    flex-direction: column;
}
.imgNameEmailContainer{
    flex-direction: column;
    align-items: center;
}
.imgNameEmailContainer img{
    margin: 10px 0;
}
.nombreEmail{
    text-align: center;
}
.hitext{
    font-size: 1.5em;
}
.nombreEmail h2{
    font-size: 1.5em;
}
}

